footer
  section
    nav: ul
      li: a(href="/") Home
      li: a(class=(title === 'bruce' ? 'active' : '') href="brucegelman") bruce s. gelman
      li: a(class=(title === 'marc' ? 'active' : '') href="marcreisman") marc s. reisman
      li: a(class=(title === 'contact' ? 'active' : '') href="contact") contact
      li: a.practices(class=(title === 'practices' ? 'active' : '') href="practices") practices
    nav: ul
      li: a(href="liquorlicensinglawyer") Liquor Licensing lawyer
      li: a(href="bikelawyer") Bicycle Accident lawyer
      li: a(href="familylawyer") Family lawyer
      li: a(href="personalinjury") Personal Injury Lawyer
      li: a(href="duilawyer") DUI lawyer
      li: a(href="willsandestateslawyer") Wills and Estate lawyer
      li: a(href="socialsecuritylawyer") Social Security Lawyer
    nav.address
      h1 Gelman & Reisman Law Offices
      h2 429 Fourth Ave, Suite 1701
      h2 Law and Finance Building
      h2 Pittsburgh, PA 15219
      h3: a(href="tel:4122889200") (412) 288 - 9200
  section
    p © 2015 Gelman & Reisman — 
      a(href="disclaimer") disclaimer

