extends layouts/default

append mainVars
  - title       = '404'
  - pageTitle   = '404'
  - metaDesc    = "404"

block content
  main.page
    h1 404
    p You seem to have gotten a bit lost. No worries. Our #[a(href="http://www.gelmanreisman.com") home page] is a click away.
    p
    p