extends layouts/default

append mainVars
  - title       = 'marc'
  - pageTitle   = 'Marc Reisman'
  - metaDesc    = "Marc Reisman"

block content
  main.page
    h1 Philadelphia Passes Bouncers Ordinance – A Cautionary Tale

    aside.breadcrumbs
      p #[a(href="marcreisman") Marc S. Reisman] / Philadelphia Passes Bouncers Ordinance – A Cautionary Tale
    h2 For 'View From the Bar' - April 2012
    p On December 21, 2011, Philadelphia Mayor Michael Nutter signed into law an ordinance passed by the City Council regulating the hiring and training of bouncers; the law becomes effective on April 19, 2012. The ordinance was passed in the wake of violent incidents involving bouncers inflicting serious personal injury on patrons. For purposes of this column, the law applies to “drinking establishments,” licensed businesses whose sales of food for consumption on the premises is equal to 20% or less of their gross sales.
    p Some of the provisions of the Philadelphia law are as follows:
    p • Employers must obtain a criminal history report on the prospective bouncer. 
    p • Bouncers must go through a “Third-Party Training Course” no later than within 45 days of being hired.
    p • Bouncers must apply for registration with the City within the same 45-day period by submitting a certificate that the third party training course has been completed.
    p • Bouncers must have a business privilege license number if an independent contractor.
    p • A bouncer’s registration will be revoked if he/she is convicted “of an offense involving danger to the person” or fails to complete any additional training required by regulations enacted under authority of the bouncers law.
    p If your business is not located in Philadelphia, you may be wondering how all this applies to you. It does in several ways. One is that it exposes the hidden dangers of using security at your establishment. Yes, using security can be a positive business practice. However, as a business owner, you are ultimately responsible for the actions of your security personnel. You risk having to defend a lawsuit if you put an untrained or poorly trained bouncer to work and the bouncer injures one of your patrons. If you haven’t investigated that bouncer’s background and the bouncer turns out to have a history of violent criminal behavior, your defense will be that much more difficult.
    p Secondly, there is a real possibility that such an ordinance may spread to other Pennsylvania municipalities. There are movements afoot in some municipalities where there are concentrations of licensed establishments to institute programs which govern the behavior of licensees beyond what the Pennsylvania Liquor Code requires. A provision similar to Philadelphia’s could very well be a part of such a program.
    p The bottom line is this: be aware of these issues, and before you hire security for your licensed establishment, consult your lawyer about your procedures for hiring and training such persons.
    p If you would like a copy of Philadelphia’s bouncers law, or if you have any questions concerning the operation of your licensed business, please contact my office. And, if you’re interested in looking at prior View from the Bar columns, please visit www.gelmanreisman.com.
    p This column is brought to you as a public service by Marc Reisman, a partner in the law firm of Gelman & Reisman. If you have an issue you would like to see addressed, or if you would like a copy of a previous column, email Mr. Reisman at marc@gelmanreisman.com, or call 1-800-883-1LAW. This column is intended for informational purposes only. Consult Mr. Reisman for legal advice specific to your situation. 