extends layouts/default

append mainVars
  - title       = 'marc'
  - pageTitle   = 'Marc Reisman'
  - metaDesc    = "Marc Reisman"

block content
  main.page
    h1 Omnibus Liquor Code Bill Signed by the Governor

    aside.breadcrumbs
      p #[a(href="marcreisman") Marc S. Reisman] / Omnibus Liquor Code Bill Signed by the Governor
    h2 For 'View From the Bar' - April 2012
    p Omnibus Liquor Code Bill Signed By Governor
    p In my last column, I discussed a Bill pending in the Pennsylvania Legislature which, in part, creates a new type of liquor license: a limited distillery license. Since that column was published, several provisions regarding the new license have been changed, and I report on some of those changes below. Of further interest, and in keeping with the spirit of the holiday season, a number of important revisions to the Liquor Code are contained in House Bill 242, also as noted below. The Bill was signed by the Governor on December 22, 2011, and is now known as Act 113.
    p • New Limited Distillery License: Among other revisions, the ceiling on production permitted under this proposed license has been raised from 40,000 to 100,000 gallons; the hours during which the distillery’s products may be sold has been expanded to 9:00 a.m. to 11:00 p.m.; and samples may not exceed a total of one to one and one-half ounces per person. 
    p • Expansion of Sunday Serving Hours: A retail licensee may begin serving alcoholic beverages on Sunday at 9:00 a.m. rather than 11:00 if the licensee offers a meal beginning at 9:00 a.m. A “meal” is defined as “food prepared on the premises, sufficient to constitute breakfast, lunch or dinner; it shall not mean a snack, such as pretzels, popcorn, chips or similar food.”
    p • Brewery Licensees: Will be permitted to sell their product to individuals and trade licensees “in any container or package of any volume,” subject to any regulations adopted by the Pennsylvania Liquor Control Board (PLCB)
    p • Brew Pub Licensees: Will be permitted to do off-premises catering upon obtaining a special permit, subject to a number of conditions.
    p • Grounds for Objections to License Renewals: Noise violations by a licensee cannot be used as the sole basis for the PLCB’s objection to renewal of a license, unless the licensee has a record of six violations within a period of two years.
    p • RAMP Training Required: Managers at retail licensees, limited distilleries and distributors will have to complete RAMP manager/owner training within six months of PLCB approval of their appointments.
    p • Distributors: Sunday hours will be expanded to 9:00 a.m. to 9:00 p.m.; would be permitted to sell beer-related publications and beer-making equipment and supplies for home brewers.
    p • Noise Violations: The so-called “loudspeaker” prohibition, which prohibits any sound of music and other entertainment from being heard beyond licensed premises, has been softened a bit by a requirement that such sounds not be heard “beyond the licensee’s property line.”
    p Please note that this newsletter does not cover all of the revisions to the Liquor Code contained in Act 113. If you would like a copy of the Bill, or if you have any questions concerning the operation of your licensed business, please contact my office. And, if you’re interested in looking at prior View from the Bar columns, please visit www.gelmanreisman.com.
    p Best Wishes for the Holidays and a Happy New Year to all my readers!
    p This column is brought to you as a public service by Marc Reisman, a partner in the law firm of Gelman & Reisman. If you have an issue you would like to see addressed, or if you would like a copy of a previous column, email Mr. Reisman at marc@gelmanreisman.com, or call 1-800-883-1LAW. This column is intended for informational purposes only. Consult Mr. Reisman for legal advice specific to your situation. 