extends layouts/default

append mainVars
  - title       = 'marc'
  - pageTitle   = 'Marc Reisman'
  - metaDesc    = "Marc Reisman"

block content
  main.page
    h1 House Bill Lays Out New Framework for Direct Wine Purchases
    aside.breadcrumbs
      p #[a(href="marcreisman") Marc S. Reisman] / House Bill Lays Out New Framework for Direct Wine Purchases
    h2 For 'View From the Bar' - March 2013
    p Proceeding in parallel with the proposal recently presented by Governor Corbett to privatize the Commonwealth of Pennsylvania’s liquor business, there are continuing efforts in the Legislature to “modernize” the system. One such effort is House Bill 121, which provides a framework for consumers to purchase wine directly from a winery. If it becomes law, House Bill 121 would replace a statutory framework for direct shipment of wine that was declared unconstitutional several years ago by a federal District Court on the basis that it discriminated against out-of-state wineries. 
    p Currently, the Pennsylvania Liquor Control Board (PLCB) does offer a program for consumers designated as “Direct Shipping of Wines,” which doesn’t run afoul of the federal District Court decision. However, it is actually in the nature of a direct ordering program in which wine ordered by a consumer (at least 21 years of age) directly from a winery (in-state or out-of-state) is shipped to a Pennsylvania Wine & Spirits Store, where the consumer or his/her designee must pick it up. There are a number of restrictions, including: there is a 9-litre per month limit; the wine must be ordered through the internet; wines carried by the State Stores are excluded; and the winery must possess a PLCB Direct Wine Shipper’s License.
    p House Bill 121 provides for a much more open and simplified process. It would allow licensed Direct Wine Shippers, whether or not located in Pennsylvania, to ship wine in specially labeled packages directly to a consumer’s home, eliminating a trip to the State Store. Gone are the 9-litre per month limit, the prohibition against shipping wines which are already carried by State Stores, and the requirement that the wine be ordered only through the internet. The consumer would still need to be a PA resident and purchase the wine for personal use only. Proof of age would have to be submitted prior to shipment, and delivery would be conditioned upon the signature of a person at least 21 years old. Re-sale of the wine would be a second degree misdemeanor. Direct Wine Shippers would need to purchase a license from the Pennsylvania Liquor Control Board, renewable yearly, and obtain a Pennsylvania sales tax license. Taxes would be payable by the Direct Wine Shipper on a quarterly basis.
    p The above is a summary of some of the provisions of House Bill 121. If you would like a copy, or if you have a question on any matter related to liquor licensing in Pennsylvania, please contact my office.
    p This column is brought to you as a public service by Marc Reisman, a partner in the law firm of Gelman & Reisman. If you have an issue you would like to see addressed, or if you would like a copy of a previous column, email Mr. Reisman at marc@gelmanreisman.com, or call 1-800-883-1LAW. This column is intended for informational purposes only. Consult Mr. Reisman for legal advice specific to your situation. 