extends layouts/default

append mainVars
  - title       = 'marc'
  - pageTitle   = 'Marc Reisman'
  - metaDesc    = "Marc Reisman"

block content
  main.page
    h1 What’s All the Wine-ing About?
    aside.breadcrumbs
      p #[a(href="marcreisman") Marc S. Reisman] / What’s All the Wine-ing About?
    h2 For 'View From the Bar' - December 2012
    p  In my last column, I discussed the recent expansion of the definition of “alcoholic cider” in the Pennsylvania Liquor Code. Alcoholic cider previously had to be made from apples, but now it can be derived from any fruit. Pennsylvania’s limited wineries, which are permitted to produce such ciders, are affected by the change.
    p In 1968, the Pennsylvania Limited Winery Act was passed, legalizing a new category of commercial wine production in Pennsylvania. The Act has been revised and broadened over the years; currently, limited wineries may produce alcoholic ciders, wines and wine coolers from Pennsylvania agricultural products (with certain exceptions), up to 200,000 gallons per year. Among other things, a limited winery is permitted to:
    p • Sell wine to the Pennsylvania Liquor Control Board, individuals, and hotel, restaurant, club and public service liquor licensees. 
    p • Sell wine in any size container—including kegs.
    p • Obtain a special permit to participate in alcoholic cider, wine and food expositions that occur off its licensed premises.
    p • With a special permit, participate in a farmer’s market.
    p • Provide on-site visitors with samples of their wine at no charge.
    p Geography, climate, and other factors make Pennsylvania one of the more desirable wine production locations in the eastern United States. According to the Pennsylvania Liquor Control Board, there are 202 active Limited Winery Licenses in the state, including 8 in Allegheny County. Production and sales have been rapidly growing for the last four decades; sales in 2010 (the last year for which I was able to locate statistics) were approximately 1.1 million gallons.
    p There are several legal hurdles to clear before a limited winery can commence operations. You must obtain permits from state agencies, including the Pennsylvania Liquor Control Board and the Department of Agriculture. There are also various federal laws to comply with, including requirements of the Bureau of Alcohol and Tobacco Tax and Trade. If you need legal assistance regarding a limited winery license, please contact me.
    p This column is brought to you as a public service by Marc Reisman, a partner in the law firm of Gelman & Reisman. If you have an issue you would like to see addressed, or if you would like a copy of a previous column, email Mr. Reisman at marc@gelmanreisman.com, or call 1-800-883-1LAW. This column is intended for informational purposes only. Consult Mr. Reisman for legal advice specific to your situation. 