extends layouts/default

append mainVars
  - title       = 'marc'
  - pageTitle   = 'Marc Reisman'
  - metaDesc    = "Marc Reisman"

block content
  main.page
    h1 Considering an Employee’s Criminal Record and Reputation
    aside.breadcrumbs
      p #[a(href="marcreisman") Marc S. Reisman] / Considering an Employee’s Criminal Record and Reputation
    h2 For 'View From the Bar' - September 2013
    p Licensees should be aware of the issues regarding employing people with criminal convictions. For many years, licensees were precluded from employing persons who were “known criminals.” Licensees can now generally employ people with criminal records. However, there are still several issues to deal with when an employee or potential employee has a criminal history.
    p The Liquor Code requires that licensees, officers, directors, stockholders and managers of a Licensee be “persons of good repute.” The Board’s Regulations make it clear that criminal convictions are to be considered in determining someone's reputation. Further, if any officer, director, member or partner of a corporation, partnership or association has been convicted of a felony within a 5- year period prior to an application to the Board, the Board has the discretion to refuse to approve that person. 
    p When it comes to other employees, criminal convictions are generally not an issue (although it will come as no surprise that prostitues can't be employed). However, even though Licensees don’t need Board approval prior to hiring someone with a criminal record, they still need to consider the hiring carefully as there are situations where an employee's criminal history could factor into the Board's decision on a license renewal. In fact, the Board has warned that the existence of an employee's on-premises criminal conduct where the employer knew or should have known of the conduct might become a factor in refusing to renew a license.
    p Also, consider that the Liquor Code prohibits the employment of persons of “ill repute,” although that phrase has not been precisely defined in this context. Court decisions have described such persons as “those who are known generally and identifiably in the community as possessing such a reputation.” However, court decisions have also held that a Licensee "is the most qualified to judge the reputation of its employees and therefore to determine if a person is of ' ill repute.' "
    p If you have any questions about the advisability of hiring a person, or whether you should continue to employ a person at your licensed business, please contact my office for advice tailored to your situation.
    p This column is brought to you as a public service by Marc Reisman, a partner in the law firm of Gelman & Reisman. If you have an issue you would like to see addressed, or if you would like a copy of a previous column, email Mr. Reisman at marc@gelmanreisman.com, or call 1-800-883-1LAW. This column is intended for informational purposes only. Consult Mr. Reisman for legal advice specific to your situation. 