extends layouts/default

append mainVars
  - title       = 'marc'
  - pageTitle   = 'Marc Reisman'
  - metaDesc    = "Marc Reisman"

block content
  main.page
    h1 I'll Have Another (Business)
    aside.breadcrumbs
      p #[a(href="marcreisman") Marc S. Reisman] / I'll Have Another (Business)
    h2 For 'View From the Bar' - November 2013
    p On occasion, I receive an inquiry from a restaurant liquor licensee about whether they can sell items other than prepared food and beverages on their premises. Initially, such an inquiry requires a look at the Liquor Control Board’s regulations, which provide that licensees may not operate an additional business on their licensed premises unless they obtain prior approval from the Board. Board regulations also prohibit licensees from permitting third parties to operate an additional business unless a licensee obtains Board approval. (There is a narrow exemption in the regulations regarding businesses licensed by the Pennsylvania Gaming Control Board.)
    p Exactly what constitutes an “additional business” is not defined in the Board’s regulations and approval is determined on a case-by-case basis. The Board does permit retail licensees to sell Pennsylvania lottery tickets, cigarettes and operate an ATM on the licensed premises. On the other hand, in response to a licensee’s inquiry, the Board’s Chief Counsel recently issued an opinion that selling cheese and other foods in bulk quantities qualifies as an “additional business” and Board approval would be required (the Board eventually turned down the licensee’s request). 
    p Obtaining Board approval for conducting another business is a multi-step process. First, a licensee must notify the Board of its intent to operate the additional business. This is done by providing the Board with a detailed list of the items to be sold and a plan on how the additional business would be operated on the premises. The Board will then consider the request at one of its regular meetings. Failure to obtain prior approval from the Board may be treated as a regulatory violation, possibly resulting in a Citation and/or other problems for the licensee.
    p The Board’s regulations also prohibit a licensed premises from having an inside passageway connected to another business unless permission is granted by the Board. This is true whether the other business is owned by the licensee or a third party. 
    p In situations where the Board does give approval for an interior connection, the licensed area must be demarcated by a permanent partition at least 4 feet high. A change in the law in 2011 added a provision that prohibits interior connections that exceed a width of ten feet. Interior connections that exceed this width and were approved by the Board prior to the change in 2011 are grandfathered in. 
    p Board regulations also prohibit a licensed premises from having an inside passage to or with a residence. There are exceptions for the residence of the licensee him/herself, the manager, or s officer of a corporate licensee. 
    p If you have questions about operating an additional business on your licensed premises, or about an interior passageway with another business, please give my office a call. 
    p This column is brought to you as a public service by Marc Reisman, a partner in the law firm of Gelman & Reisman. If you have an issue you would like to see addressed, or if you would like a copy of a previous column, email Mr. Reisman at marc@gelmanreisman.com, or call 1-800-883-1LAW. This column is intended for informational purposes only. Consult Mr. Reisman for legal advice specific to your situation. 
