extends layouts/default

append mainVars
  - title       = 'marc'
  - pageTitle   = 'Marc Reisman'
  - metaDesc    = "Marc Reisman"

block content
  main.page
    h1 Beer On Wheels
    aside.breadcrumbs
      p #[a(href="marcreisman") Marc S. Reisman] / Beer On Wheels
    h2 For 'View From the Bar' - March 2015
    h3 
    p Recently, the Pennsylvania Liquor Control Board (“PLCB”) stunned both the restaurant industry and the public with an announcement that it was permissible for restaurant liquor licensees to deliver beer, with or without food, to the homes of their customers. The announcement came in the wake of the issuance of two legal opinions on the same day by the PLCB’s Office of Chief Counsel in response to written inquiries as to whether or not home delivery was legal. The advisory opinions indicated several conditions must be satisfied:
    p • The licensee must obtain a PLCB Transporter license.
    p • The Transporter license only permits transportation of beer inside Pennsylvania.
    p • The sale must take place on the licensed premises, i.e., the beer must be paid for prior to delivery, whether by credit or debit card.
    p • The amount of beer which can be sold is limited to 192 ounces per sale.
    p • The delivery vehicle must be owned or leased by the licensee and operated by its employees.
    p • The licensee may not pick up beer that the licensee has purchased from a beer distributor.
    p Not to throw cold water on this amazing development, but…there are several issues that remain. I understand that the PLCB is considering those issues, and that additional advisory opinions and possibly a revision to the applicable PLCB regulations may follow.
    p Bottom line: if you are a restaurant, eating place or hotel liquor licensee who wishes to deliver beer to your customers, I recommend you contact an attorney experienced in this area to guide you through the process.
    p This column is brought to you as a public service by Marc Reisman, a partner in the law firm of Gelman & Reisman. If you have an issue you would like to see addressed, or if you would like a copy of a previous column, email Mr. Reisman at marc@gelmanreisman.com, or call 1-800-883-1LAW. This column is intended for informational purposes only. Consult Mr. Reisman for legal advice specific to your situation.