extends layouts/default

append mainVars
  - title       = 'marc'
  - pageTitle   = 'Marc Reisman'
  - metaDesc    = "Marc Reisman"

block content
  main.page
    h1 Act 116, Part II – More on Changes to the Pennsylvania Liquor Code
    aside.breadcrumbs
      p #[a(href="marcreisman") Marc S. Reisman] / Act 116, Part II
    h2 For 'View From the Bar' - October 2012
    p  In my last column, I discussed how Act 116 of 2012 revises the Liquor Code with respect to off-premises catering permits. However, Act 116 affects more than just off-premises catering permits. The following are some other changes Act 116 makes to the Code:
    p • Special Occasion Permits: The Act changes who may apply for a special occasion permit. Now, certain entities will be eligible regardless of the classification of municipality or county in which they are located. These entities include museums that are operated by a non-profit corporation, non-profit corporations engaged in the performing arts, and several others. For specific advice about whether or not your entity is included in the new definition, consult your legal counsel.
    p • Alcoholic Cider: The definition of “alcoholic cider” has been changed. Previously, alcoholic cider included only products made from apples. The new definition includes products made from any fruit.
    p • Wet-Then Dry Communities: This provision allows the Board renew or transfer restaurant, hotel, eating place retail dispenser, or distributor licenses located in an area where two or more municipalities have merged, despite a prohibition against issuance of these licenses in the new merged municipality.
    p • Military Service Personnel: Military service personnel can now import liquor - up to one gallon every month - without paying additional state taxes. To qualify for the tax exemption, the liquor must be purchased from a “package store” that is under the authority of the United States government. Act 116 amends the definition of a “package store” to include retailers who are located on any installation of the military (including the Coast Guard, Navy, Army, Air Force and Marine Corps).
    p • Loudspeaker Regulation: Essentially, the Board’s noise regulation (also known as the “loudspeaker” regulation) has now been codified into law. The Act also allows licensees located in a previously designated exempt area to continue their exempt status, and allows certain licensees who were previously exempt under the Code to continue their exempt status. 
    p This column, together with my previous column, provide an overview of many of the changes to the Liquor Code made by Act 116 of 2012. For specific questions about any of the changes, you should, as always, consult with an attorney experienced in this field of law.
    p This column is brought to you as a public service by Marc Reisman, a partner in the law firm of Gelman & Reisman. If you have an issue you would like to see addressed, or if you would like a copy of a previous column, email Mr. Reisman at marc@gelmanreisman.com, or call 1-800-883-1LAW. This column is intended for informational purposes only. Consult Mr. Reisman for legal advice specific to your situation. 