extends layouts/default

append mainVars
  - title       = 'marc'
  - pageTitle   = 'Marc Reisman'
  - metaDesc    = "Marc Reisman"

block content
  main.page
    h1 ch-ch-ch-changes can trigger reporting reqirements for liquor licensees
    aside.breadcrumbs
      p #[a(href="marcreisman") Marc S. Reisman] / ch-ch-ch-changes
    h2 For 'View From the Bar' - April 2013
    p Most people are aware that before a liquor license changes ownership, an application must be filed with the Pennsylvania Liquor Control Board and the Board must approve the transfer. However, retail licensees may not be aware that there are reporting requirements that may be triggered when a licensed entity changes its corporate officers, directors or owners.
    p The Pennsylvania Liquor Code requires that certain changes in business structure be reported to the Board. A corporation, association or other Board-licensed entity must notify the Board of a change in officers, directors, members, partners or stockholders on Board forms. The notification must take place within 15 days of the change. However, a change in stockholders does not trigger the requirement if less than 10% of the outstanding voting stock is involved and there is no change in either the majority interest or controlling interest. The Board defines a controlling interest as “[t]he power or authority to manage, direct, govern, administer or oversee the operation of a licensed business.” The source of funds used in the stock purchase must be provided as part of the application process, and, if financing is involved, documentation must be submitted. 
    p Whether you must post a public notice of the change in business structure (in the form of those bright orange Liquor Control Board posters) again depends on whether the change affects a majority/controlling interest. If so, you must complete and post the official Notice in a conspicuous place near or at the premises entrance. 
    p Appointment of a new manager also triggers reporting requirements. An application must be filed and the new manager will be subject to a criminal record check. The manager must be available to devote “full time and attention to the licensed business.” Dual employment is subject to approval by the Board.
    p Note that Club liquor licensees are subject to somewhat different reporting requirements, which are not addressed in this column. 
    p The above is only a summary of PLCB reporting requirements regarding changes in business structure. If you have a specific question regarding compliance, please call my office. 
    p This column is brought to you as a public service by Marc Reisman, a partner in the law firm of Gelman & Reisman. If you have an issue you would like to see addressed, or if you would like a copy of a previous column, email Mr. Reisman at marc@gelmanreisman.com, or call 1-800-883-1LAW. This column is intended for informational purposes only. Consult Mr. Reisman for legal advice specific to your situation. 