extends layouts/default

append mainVars
  - title       = 'marc'
  - pageTitle   = 'Marc Reisman'
  - metaDesc    = "Marc Reisman"

block content
  main.page
    h1 Rules of the Game Changing for Off-Premises Catering Permits

    aside.breadcrumbs
      p #[a(href="marcreisman") Marc S. Reisman] / Rules of the Game Changing for Off-Premises Catering Permits
    h2 For 'View From the Bar' - July / August 2012
    p In a column I wrote last Fall, I briefly discussed the new off-premises catering permit available to restaurant, hotel, eating place dispenser and brew pub licensees. This summer, legislation known as Act 116 was passed that significantly changes the rules regarding these permits. These changes will go into effect September 3, 2012, and you should be aware of them if you are interested in applying for this permit.
    p One major change under Act 116 is the establishment of a March 1 application deadline for each calendar year. In order to obtain a permit for the year, a licensee must file an application and pay a $500 fee by March 1, whether or not any off-premises catered functions are scheduled. If a licensee does not have a permit by March 1, no function may be hosted for the remainder of the year. The $500 fee is not refundable. The limit of 50 catered functions per year remains the same and there is no additional fee for subsequent events. The Board has discretion to refuse to allow a catered function if an applicant has previously conducted an event that violated the Liquor Code.
    p Act 116 amends the very definition of a “catered function.” A catered function is defined as one that is planned a minimum of 30 days in advance; the prior rule was 48 hours. Additionally, a licensee must give the Board at least 30 days notice of the function; however, the Board may accept as little as 14 days notice under certain conditions. In addition, at least 7 days notice must be provided to both the local police and the PA State Police Bureau of Liquor Control Enforcement.
    p The new definition of “catered function” also establishes that the event is to be “for the accommodation of a person or an identifiable group of people, not the general public . . .” Alcohol must be sold in conjunction with food. As before, sales may be by the glass, open bottle or other container, and the beverages must be consumed at the permitted location. Nor may a patron take alcohol off the permitted location, and to-go sales are prohibited. The new law limits the duration of catered functions to no more than 5 hours, and they must end by midnight. A licensee or the owner of the permitted premises may sell tickets to such functions only under very limited circumstances.
    p The above is not an exhaustive list of the requirements a licensee must meet to obtain an off-premises catering permit. To ensure you are in compliance and to avoid problems with your off-premises catered events, consult with an attorney experienced in this area of the law.
    p This column is brought to you as a public service by Marc Reisman, a partner in the law firm of Gelman & Reisman. If you have an issue you would like to see addressed, or if you would like a copy of a previous column, email Mr. Reisman at marc@gelmanreisman.com, or call 1-800-883-1LAW. This column is intended for informational purposes only. Consult Mr. Reisman for legal advice specific to your situation. 