extends layouts/default

append mainVars
  - title       = 'marc'
  - pageTitle   = 'Marc Reisman'
  - metaDesc    = "Marc Reisman"

block content
  main.page
    h1 #thepennsylvanialiquorcodeandsocialmedia
    aside.breadcrumbs
      p #[a(href="marcreisman") Marc S. Reisman] / #thepennsylvanialiquorcodeandsocialmedia
    h2 For 'View From the Bar' - June/July 2013
    p As with many other aspects of our lives, the explosions in social media and technology are affecting the sales and service of alcoholic beverages. This column addresses the interplay with advertising and the recent appearance of an innovation in the dispensing of alcoholic beverages.
    p In the past few years, many restaurants and bars have created an online presence, especially through sites such as Facebook and Twitter. Questions have naturally been raised by liquor licensees about what constitutes permissible advertising. The Pennsylvania Liquor Control Board (PLCB) has taken the position that the laws and regulations relating to advertising alcoholic beverages are the same no matter what medium is being used. Licensees consequently are permitted to advertise their products and services online, assuming all the usual requirements are met. These requirements include prohibitions against directing advertisements to minors and against obscene advertisements; identification of the entity responsible for the advertisement; and no monetary comparisons between brands of alcohol.
    p A recent PLCB legal advisory opinion addresses an interesting technological advance. The opinion was issued in response to a query about a machine that automatically dispense shots of liquor to customers. Payment is made by credit card and the customer in effect serves him/herself. The PLCB found nothing in the Liquor Code or its Regulations to prohibit such machines, likening the process to shots dispensed by a bartender.
    p However, the opinion pointed out a number of issues that require a licensee to exercise caution in using such a machine. Most importantly, these machines raise concerns about sales to minors or to visibly intoxicated patrons. Clearly, a licensee would need to put procedures in place to make sure such persons are not served. The opinion also warns of the PLCB’s authority to refuse to renew a liquor license and to impose additional restrictions on a licensee, such as prohibiting use of such machines, in the event problems arise with sales to the visibly intoxicated and/or minors. 
    p The opinion notes that the operation of a self-service machine must comply with the Board’s discount pricing regulations. Among other practices, those regulations address such items as an increase in the volume of a drink without a corresponding increase in price, daily drink specials, happy hour pricing, and the prohibition against drink discounts after midnight. 
    p If you have a question regarding the interaction of social media and alcoholic beverages, or any question regarding liquor licensing matters, please contact my office. 

    p This column is brought to you as a public service by Marc Reisman, a partner in the law firm of Gelman & Reisman. If you have an issue you would like to see addressed, or if you would like a copy of a previous column, email Mr. Reisman at marc@gelmanreisman.com, or call 1-800-883-1LAW. This column is intended for informational purposes only. Consult Mr. Reisman for legal advice specific to your situation. 