extends layouts/default

append mainVars
  - title       = 'bruce'
  - pageTitle   = 'Bruce Gelman — Pittsburgh Lawyer'
  - metaDesc    = "Bruce Gelman"

block content
  main.page.bruce
    h1 Bruce S. Gelman
    h2 An experienced and effective lawyer.
    p Bruce was born in McKeesport, Pennsylvania and grew up in nearby White Oak. He graduated High School from Hillel Academy in Pittsburgh in 1977. He attended college at the University of Pittsburgh and completed his Bachelor of Arts degree in 1981, graduating cum laude. Bruce next attended law school at Ohio Northern University, graduating in 1984. While attending law school, he received the Book Award in Constitutional Law.
    p Upon graduation from law school, Bruce opened his own practice in 1984 with a focus on personal injury, wills and estate administration, criminal law, social security disability, workers’ compensation and family law.
    p He is admitted to all Pennsylvania courts, federal District and Circuit Courts and the Supreme Court of the United States. Bruce is a member of the Allegheny County Bar Association, Pennsylvania Bar Association, Western Pennsylvania Trial Lawyers Association, Pennsylvania Association of Justice and a Family Division Section member. Mr. Gelman has presented cases before the Pennsylvania and United States Supreme Courts. In 1994, Bruce joined forces with Marc Reisman to establish their firm, Gelman & Reisman.
    p In the community, Bruce has been a Cub Scout Den Leader and Pack Leader for Pack 1818 in Squirrel Hill and has also held the position of Assistant Scout Leader in the Boy Scout Troop. He coached soccer with Dynamo Soccer in Pittsburgh and coached baseball with the Squirrel Hill All-Star team. He is a mentor to 6th and 7th grade students with the mentorship program in the City of Pittsburgh public school system. Bruce is also a member of the Board of Directors for the Kollel Jewish Learning Center in Squirrel Hill, Pittsburgh and a member of the Board of Directors for the Gemilas Chesed Synagogue in White Oak, Pennsylvania.
