extends layouts/default

append mainVars
  - pageTitle   = 'disclaimer'
  - metaDesc    = "disclaimer"

block content
  main.page.practices.secondary
    h1 disclaimer
    p The materials on this website have been prepared by Gelman & Reisman Law Offices for informational purposes only and do not constitute legal advice or legal opinion for specific facts or circumstances. Information provided at this site is subject to change without notice.