extends layouts/default

append mainVars
  - title       = 'practices'
  - pageTitle   = 'Divorce Lawyer — Gelman & Reisman — Pittsburgh'
  - metaDesc    = "It is Gelman & Reisman’s mission to keep our fees reasonable and keep you out of court."

block content
  main.page.family
    h1 Divorce Lawyer
    aside.breadcrumbs
      p #[a(href="practices") Practices] / Divorce Lawyer
    h2 It is Gelman & Reisman’s mission to keep our fees reasonable and keep you out of court.
    p We specialize in No-Fault; Abandonment; marital misconduct; and Protection from Abuse (PFA).
    h3 Support and Alimony Lawyer 
    p Separating from your spouse or partner doesn’t mean you have to bear the entire economic burden. Let us help you obtain the award you deserve. Gelman & Reisman provides representation for #[span Child support, Spousal support, Alimony pendente lite, Permanent Alimony]
    p G&R can help with the following pre-planning documents Pre-nuptial Agreements, Post-nuptial Agreements, Marital Settlement Agreements, Domestic Partners Agreements, Cohabitation Agreements.
    h3 Adoption Lawyer
    p Our fees for adoption are the most reasonable in the area and we take a personal interest in assisting families with this wonderful but delicate transition and process.
    h2 For more information on divorce related law, please #[a(href="contact") contact] us.
