extends layouts/default

append mainVars
  - title       = 'practices'
  - pageTitle   = 'Drivers License Issues Lawyer — Gelman & Reisman — Pittsburgh'
  - metaDesc    = "Our experience can help avoid problems and assist in the return of your driver’s license."

block content
  main.page.practices.secondary
    h1 Driver’s License Lawyer
    aside.breadcrumbs
      p #[a(href="practices") Practices] / Driver’s License Issues Lawyer
    h2 Our experience can help avoid problems and assist in the return of your driver’s license.
    p As many of our clients and the driving public realize, it doesn’t take much to suspend a driver’s license in Pennsylvania. Statistics show that most drivers do not understand PennDOT’s system and most citations issued for driving under suspension are caused by a driver’s failure to understand and follow instructions issued by PennDOT.
    p Typical reasons for suspension are failure to respond (request a hearing) to a citation; failure to pay all fines or costs; failure to pay under a payment arrangement with the Magistrate and failure to pay a restoration fee to PennDOT. An experienced license attorney, such as attorney Gelman, can help avoid all these problems and facilitate a return your driver’s license. 
    p DUI related suspensions are typically lengthened for years due to the licensee’s failure to complete a Court Ordered treatment plan or make sure all information on completion of treatment and sentencing has been transmitted by the Court to PennDOT. 
    p Gelman & Reisman can address these, as well as all of the following legal issues. All traffic citations at Magistrate level; Summary Appeal of adverse decision from Magistrate; Habitual Offender defense; DUI Refusal suspensions; Driving under DUI suspension; Appeal of License Suspension notice from PennDOT. 
    h2 Re-opening old citations and restoring appeal rights
    p Pennsylvania law allows a defendant 30 days to appeal a Magistrates decision on a citation. Too many people believe that once this 30 day appeal period has passed, nothing can be done to re-open this citation and remove the license suspension issued. Gelman & Reisman have over 30 years of experience in successfully re-opening the appeal period and addressing the underlying citation. G&R will then work to lessen or remove any penalties impeding the restoration of your license.    
    h2 If you have issues with your driver's license, please #[a(href="contact") contact] us.