extends layouts/default

append mainVars
  - title       = 'practices'
  - pageTitle   = 'DUI Lawyer — Gelman & Reisman — Pittsburgh'
  - metaDesc    = "Gelman & Reisman are experienced DUI attorneys."

block content
  main.page.family
    h1 DUI Lawyer
    aside.breadcrumbs
      p #[a(href="practices") Practices] / DUI Lawyer
    h2 Gelman & Reisman are experienced DUI attorneys.
    p Sometimes good people simply make mistakes. No matter what, every person is entitled to a legal defense. Don’t just accept the consequences the legal system offers you. An experienced DUI attorney knows all the ins and outs of the legal system and will help you understand your charges and the legal proceedings you may face. Gelman & Reisman can help have your charges dropped or reduced.
    p We realize you are given confusing paperwork and will face an adversarial system. G&R will examine the criminal complaint brought against you and prepare you for all court proceedings. After reviewing the evidence we will advise you as to the best course of action and your choices, such as trial or an alternative program such as ARD. 
    h2 Again, reasonable fees and personal attention are the mainstay of our firm.
    h3 Gelman & Reisman will represent you in all phases of the case.
    h3 Preliminary Hearings; Suppression Hearings and Trial.
    h3 ARD Revocation Hearings; Plea Negotiations; Chemical test refusals.
    p

    h2 For more more information on DUI Law, please #[a(href="contact") contact] us.
