extends layouts/default

append mainVars
  - title       = 'practices'
  - pageTitle   = 'Domestic and Family Lawyer — Gelman & Reisman — Pittsburgh'
  - metaDesc    = "It is Gelman & Reisman’s mission to keep our fees reasonable and keep you out of court."

block content
  main.page.practices
    h1 Family Lawyer
    aside.breadcrumbs
      p #[a(href="practices") Practices] / Family Lawyer
    h2 It is Gelman & Reisman’s mission to keep our fees reasonable and avoid unnecessary court procedures. 
    h3 General Family Lawyer
    p The issues that parties can face when entangled in domestic disputes can range from the basic No-Fault Divorce to complex economic litigation. The fact that each domestic dispute is rooted in a prior interpersonal relationship contributes to the difficulties of amicably resolving disputes. Regardless of the sensitivity and complexity of the case, Gelman & Reisman will create a strategy to address and resolve each issue, while walking you through the entire process.
    h3 Divorce Lawyer
    p We have experience in no-fault, abandonment, marital misconduct, and Protection from Abuse (PFA). #[a(href="divorcelawyer") read more] about Divorce Law here.
    h3 Support And Alimony Lawyer
    p Separating from your spouse or partner doesn’t mean you have to bear the entire economic burden. Let us help you obtain the award you deserve. Gelman & Reisman provides representation for #[span Child support, Spousal support, Alimony pendente lite, Permanent Alimony]
    h3 Custody Lawyer
    p Addressing custody issues with children can be most challenging, as well as a very emotional time in one’s life. Today, custody issues can involve more parties than just mother and father. Gelman & Reisman can represent you in #[span Primary and Partial Custody, Dependency and CFY placement, Termination of parental rights, Grandparents and Third Party custody rights.]
    h3 Gelman & Reisman can help
    p There are several legal strategies that can either eliminate the need for costly litigation or resolve marital disputes. 
    ul 
      h4 We can help with the following pre-planning documents
      li – Pre-nuptial Agreements 
      li – Post-nuptial Agreements
      li – Marital Settlement Agreements
      li – Domestic Partner Agreements
      li – Cohabitation Agreements
    p
    h3 Adoption Lawyer
    p Our fees for adoption are the most reasonable in the area and we take a personal interest in assisting families with this wonderful but delicate transition and process.
    h2 For more information on family related law, please #[a(href="contact") contact] us.
    p