extends layouts/default

append mainVars
  - title       = 'practices'
  - pageTitle   = 'Liquor Licensing Lawyer — Gelman & Reisman — Pittsburgh'
  - metaDesc    = "Gelman & Reisman can assist you in any matter involving liquor licensing."

block content
  main.page.practices
    h1 Liquor Licensing Lawyer
    aside.breadcrumbs
      p #[a(href="practices") Practices] / Liquor Licensing Lawyer
    h2 On any Liquor Licensing matter, we can help you. 
    p Mr. Reisman's clients include Restaurateurs, entertainment venues, hotels, bars, beer distributorships, and anyone that needs advice about Liquor Licensing. He has served as Special Liquor Counsel to the Urban Redevelopment Authority of Allegheny County, the Regional Development Funding Corporation and the Steel Valley Enterprise Zone. His column on liquor licensing matters, View from the Bar, appears regularly in #[a(href="http://www.theindependentrestaurateur.com/") The Independent Restaurateur]. He has also been published in the #[a(href="http://www.pittsburghlegaljournal.org/") Pittsburgh Legal Journal] and the Allegheny Lawyer.
    p Our capabilities: advising on the purchase and sale of liquor licenses and licensed businesses, compliance and contractual matters, real estate transactions and entity formation. Also, transfers of liquor licenses; applications for new licenses; license renewals and defense of PLCB objections to license renewals; non-renewal of liquor licenses; citation defense; appeals; advice and guidance regarding compliance with the Liquor Code and PLCB Regulations and policies.
    p #[a(href="marcreisman") Click here] to read Marc Reisman's "View from the Bar" articles.
    h2 For more information on Liquor Licensing, please #[a(href="contact") contact] us.
  section.testimonials
    blockquote
      h4 Steve Zumoff 
        span Double Wide Grill
      p — “We’ve been using Marc’s services for liquor licensing matters since 1996.  We’re impressed by his knowledge of the law, and his responsiveness. We give him the highest recommendation.  We also appreciate the fact that Gelman & Reisman is able to handle other legal matters for us, both business and personal.”