extends layouts/default

append mainVars
  - title       = 'marc'
  - pageTitle   = 'Marc S. Reisman'
  - metaDesc    = "Marc S. Reisman"

block content
  main.page.marc
    h1 Marc S. Reisman
    h2 A knowledgeable and creative lawyer.
    p Marc received his B.A. from the from the University of Pittsburgh, where he graduated magna cum laude. After spending a decade pursuing a musical career and recording several records as the harmonica player in Pittsburgh’s legendary Iron City Houserockers (and later with Joe Grushecky and the Houserockers), he entered the University of Pittsburgh School of Law in 1984.
    p In 1985-1986, he was a Staff Member of the University of Pittsburgh Law Review, and in 1986-1987, he was a Law Review Notes and Comments Editor. He graduated cum laude from Pitt Law School in 1987, and was awarded the Order of the Coif.
    p Marc is a member of the Allegheny County Bar Association, the Western Pennsylvania Trial Lawyers’ Association, Bike Pittsburgh, the League of American Bicyclists Legal Affairs Committee, the WPW Bicycle Club and the American Society of Authors, Composers and Publishers. He continues to play harmonica in the Pittsburgh area, and occasionally travels to Europe to perform.
    p Marc’s love of food, restaurants, live music and bicycling has led him naturally to the areas in which he practices law.
    h3.seperate Pennsylvania Liquor Licensing Matters Articles
    section
      article 
        date March 2015
        h4 Beer On Wheels
        p.view: a(href="article-march15") read here
      article 
        date November 2013
        h4 I’ll Have Another (Business)
        p.view: a(href="article-november13") read here
      article  
        date September 2013
        h4 Considering an Employee’s Criminal Record and Reputation
        p.view: a(href="article-september13") read here
      article
        date July/June 2013
        h4 #thepennsylvanialiquorcodeandsocialmedia
        p.view: a(href="article-june13") read here
      article
        date April 2013
        h4 CH-CH-CH-Changes Can Trigger Reporting Requirements for Liquor Licenses
        p.view: a(href="article-april13") read here
      article
        date March 2013
        h4 House Bill Lays Out New Framework for Direct Wine Purchases
        p.view: a(href="article-march13") read here 
      article
        date December 2012
        h4 What’s All the Wine-ing About?
        p.view: a(href="article-december12") read here
      article
        date October 2012
        h4 Act 116, Part II – More on Changes to the Pennsylvania Liquor Code
        p.view: a(href="article-october12") read here
      article
        date July/August 2012
        h4 Rules of the Game Changing for Off-Premises Catering Permits
        p.view: a(href="article-july12") read here
      article
        date April 2012
        h4 Philadelphia Passes Bouncers Ordinance – A Cautionary Tale
        p.view: a(href="article-april12") read here
      article
        date December 2011
        h4 Omnibus Liquor Code Bill Signed by the Governor
        p.view: a(href="article-december11") read here
