extends layouts/default

append mainVars
  - title       = 'personalinjury'
  - pageTitle   = 'Personal Injury Lawyer — Gelman & Reisman — Pittsburgh'
  - metaDesc    = "Gelman & Reisman are experienced personal injury attorneys."

block content
  main.page.family
    h1 Personal Injury Lawyer
    aside.breadcrumbs
      p #[a(href="practices") Practices] / Personal Injury Lawyer
    h2 Gelman & Reisman are experienced Personal Injury Lawyers.
    p After an accident, you may not be aware of your rights and how the legal process works. Don’t just settle with an insurance company. You might not receive the compensation you are entitled to.
    p It's difficult to understand what to do after an injury. What are the options? Are you having trouble with medical bills? What if things get worse? It may seem manageable now, but for how long? 
    p It’s not uncommon for those who have been hurt physically to also experience emotional and mental suffering as well, such as depression and anxiety. You may feel immobilized physically and emotionally.
    h2 Gelman & Reisman will represent you in all phases of your case.
    h3 Injuries sustained in automobile and motorcycle accidents.
    h3 Slip and fall injuries.
    h3 Injuries from defective products.
    p
    h2 For more more information on Personal Injury  Law, please #[a(href="contact") contact] us.
