extends layouts/default

append mainVars
  - title       = 'practices'
  - pageTitle   = 'Gelman & Reisman — Areas Of Practice — Pittsburgh'
  - metaDesc    = "Gelman & Reisman pride themselves in crafting legal solutions for their clients in a creative and efficient manner."

block content
  main.page.practices-index
    h1 areas of practice 
    h2 Gelman & Reisman pride themselves in crafting legal solutions for their clients in a creative and efficient manner.
    section 
      h2 Liquor Licensing Lawyer
      h3 On any Liquor Licensing matter, we can help you. 
      p: a(href="liquorlicensinglawyer") read more
    section 
      h2 Bicycle Accident Lawyer
      h3 25 years of fighting for bicyclist’s rights.
      p: a(href="bikelawyer") read more
    section 
      h2 Family Lawyer
      h3 Our mission is to keep the fees reasonable and save you from court.
      p: a(href="familylawyer") read more
    section
      h2 Social Security Lawyer
      h3 We understand the importance of social security benefits.
      p: a(href="socialsecuritylawyer") read more
    section
      h2 Personal Injury Lawyer
      h3 We can help you with understanding your rights and how the process works.
      p: a(href="personalinjury") read more
    section
      h2 Wills And Estates Lawyer
      h3 We provides counsel and representation in a full range of elder law matters.
      p: a(href="willsandestateslawyer") read more
    section
      h2 DUI Lawyer
      h3 Gelman & Reisman are experienced DUI attorneys.
      p: a(href="duilawyer") read more
    section
      h2 Drivers License Lawyer
      h3 Help avoid problems and assist in the return of your driver’s license.
      p: a(href="driverlicenselawyer") read more
    section
      h2 Divorce Lawyer
      h3 Separating from your partner doesn’t mean you have to bear the entire economic burden.
      p: a(href="divorcelawyer") read more
