extends layouts/default

append mainVars
  - title       = 'practices'
  - pageTitle   = 'Social Security Lawyer — Gelman & Reisman — Pittsburgh'
  - metaDesc    = "Attorney Gelman realizes how important receiving these benefits is to a disabled individual. That has worked all their life."

block content
  main.page.practices.secondary
    h1 Social Security Lawyer
    aside.breadcrumbs
      p #[a(href="practices") Practices] / Social Security Lawyer
    h2 We understand the importance of Social Security benefits.
    p Of all the areas of law #[a(href="bruce") Bruce Gelman] practices in, obtaining Social Security disability benefits for his clients is the most rewarding. Attorney Gelman realizes how important receiving these benefits is to a disabled individual. That has worked all of their life. 
    p Disability and SSI benefits are frequently the only income in the household. SSD or SSI can also provide necessary health insurance. Attorney Gelman will use his 30 years of experience as a tireless advocate to fight for your benefits. 
    ul 
      h4 If you suffer from the following conditions and cannot work, you may be eligible for benefits: 
      li – Mental illness
      li – Diabetes
      li – Back and neck conditions
      li – Neurological disorders
      li – Cancer
      li – Fibromyalgia
      li – COPD or breathing issues
      li – Cardiac conditions
      li – Vision disorders
      li – Skin disorders
      li – Blood disorders
      li – Hep-C or liver disorders. 
    h2 Gelman & Reisman provides representation in all SSD, Child, and Adult SSI claims. 
    p Gelman & Reisman will contact all your healthcare providers and obtain all relevant medical records to assist in convincing the Social Security Administration to issue a favorable decision granting benefits. 
    p While everyone cannot be eligible for SSD or SSI benefits, Gelman & Reisman have been able to secure benefits for nearly 85% of their clients. 
    h2 For help with Social Security law, please #[a(href="contact") contact] us.