extends layouts/default

append mainVars
  - title       = 'practices'
  - pageTitle   = 'Wills And Estates Lawyer — Gelman & Reisman — Pittsburgh'
  - metaDesc    = "Gelman & Reisman provides counsel and representation in a full range of Elder Law matters."

block content
  main.page.family.secondary
    h1 Wills And Estates Lawyer
    aside.breadcrumbs
      p #[a(href="practices") Practices] / Wills And Estates Lawyer
    h2 Gelman & Reisman provides counsel and representation in a full range of Elder Law matters.
    p Personal attention is the foundation of the firm and we mean that. Our clients are not handed to associates. Attorney #[a(href="bruce") Bruce Gelman] will always provide the personal attention each case and client requires. We will also continue to keep fees for simple documents at a reasonable amount.
    ul
      h4 Non-complex testamentary documents include:
      li – Simple Last Will and Testament
      li – Living Wills
      li – Will with Non-Complex Testamentary Trust
    ul
      h4 Provide asset protection and management:
      li – Establishing Trusts in Wills
      li – Revocable and Irrevocable Trusts
      li – Special Needs Trusts
      li – Life Insurance Trusts
      li – Estate and Trust Administration
      li – Minimizing Estate
      li – Gift and Transfer taxes
    p Every day we make healthcare decisions without any problem. However, there will be a time when you are unable to make essential healthcare decisions due to physical or mental limitations or incompetency.
    ul
      h4 Pre-planning is essential. Gelman & Reisman can provide the following services: Comprehensive Durable Powers of Attorney; Healthcare Directives; Living Will; Guardianship Special Needs Trusts.
    h3 Gelman & Reisman also represents Executors and Administrators in all estate probate administration.
    p
    h2 We take these matters seriously. For more information regarding Wills and Estates law, please #[a(href="contact") contact] us.