block mainVars

doctype html
//[if IE 8]><html lang="en" class="iefuntime"><![endif]
//[if IE 9]><html lang="en" class="iefuntime"><![endif]
html.wf-inactive
  include inc/head
  body
    include inc/header
    block content
    include inc/footer
    include inc/scripts